#002642;
#840032;
#e59500;
#e5dada;
#02040f;

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #e5dada;
  color:#02040f;
}


h1,h2 {
  text-align: center;
  margin:0;
  padding:0;
}
#selectorHolder{
  display:block;
  margin: 0 auto;
  text-align: center;
}
#scaleHolder{
  margin: 10px 0;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}


select {
  border: 0;
  outline: 0;
  width: 200px;
  height: 30px;
  text-align: center;
  color: black;
  border-radius: 20px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#getNotes{
  background-color:#002642; 
  color:#e5dada;
  font-size: 1.5em;
  border-radius: 12px;
}

.individualNotes{
  border: 2px solid black;
  padding:6px;
  border-radius: 10px;
  white-space: nowrap;
  transition: color 300ms;
}
.chordsGreen{
  color:green;
}
.chordsRed{
  color:red;
}
.chordsBlue{
  color:blue;
}
.chordsPurple{
  color:purple;
}
#colorLegend{
  font-size: 1.5em;
  margin:0 auto;
  width:30%;
}
.colorWords{
  display:flex;
  flex-direction: row;
  margin: 2px 2px;
  
}
#colorLegend{
  display:flex;
  flex-direction: column;
}

#greenLegend{
background-color: green;
}
#redLegend{
background: red;
}
#blueLegend{
background-color: blue;
}
#purpleLegend{
background-color: purple;
}
.legendColors{
  padding:4px;
  border:1px solid black;
  border-radius: 5px;
  color:white;
  
}
@media (min-width: 800px){
  h1,h2{
    margin: 25px 0;
  }
  #scaleHolder{
    font-size: 2em;
    width:80%;
    margin: 50px auto 5px;
    flex-direction: row;
    justify-content: space-around;
    
  }
}
@media (min-width: 1000px){
  #scaleHolder{
    font-size: 3em;
    width:70%;
  }
}
